
-- Base16 {{scheme-name}}

config.colors = {
    background = '#{{base00-hex}}',
    foreground = '#{{base05-hex}}',
    cursor_fg = '#{{base00-hex}}',
    cursor_bg = '#{{base05-hex}}',
    ansi = {
        '#{{base00-hex}}',
        '#{{base08-hex}}',
        '#{{base0B-hex}}',
        '#{{base0A-hex}}',
        '#{{base0D-hex}}',
        '#{{base0E-hex}}',
        '#{{base0C-hex}}',
        '#{{base05-hex}}',
    },
    brights = {
        '#{{base03-hex}}',
        '#{{base08-hex}}',
        '#{{base0B-hex}}',
        '#{{base0A-hex}}',
        '#{{base0D-hex}}',
        '#{{base0E-hex}}',
        '#{{base0C-hex}}',
        '#{{base07-hex}}',
    },
}
