
! Base16 {{scheme-name}}

! Template based on:
! https://github.com/tinted-theming/base16-xresources/blob/main/templates/default-256.mustache

#define base00 #{{base00-hex}}
#define base01 #{{base01-hex}}
#define base02 #{{base02-hex}}
#define base03 #{{base03-hex}}
#define base04 #{{base04-hex}}
#define base05 #{{base05-hex}}
#define base06 #{{base06-hex}}
#define base07 #{{base07-hex}}
#define base08 #{{base08-hex}}
#define base09 #{{base09-hex}}
#define base0A #{{base0A-hex}}
#define base0B #{{base0B-hex}}
#define base0C #{{base0C-hex}}
#define base0D #{{base0D-hex}}
#define base0E #{{base0E-hex}}
#define base0F #{{base0F-hex}}

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00 ! Black
*color8:       base03 ! Black (Bright)
*color1:       base08 ! Red
*color9:       base08 ! Red (Bright)
*color2:       base0B ! Green
*color10:      base0B ! Green (Bright)
*color3:       base0A ! Yellow
*color11:      base0A ! Yellow (Bright)
*color4:       base0D ! Blue
*color12:      base0D ! Blue (Bright)
*color5:       base0E ! Magenta
*color13:      base0E ! Magenta (Bright)
*color6:       base0C ! Cyan
*color14:      base0C ! Cyan (Bright)
*color7:       base05 ! White
*color15:      base07 ! White (Bright)

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

