snippet class "C++ Class with default (con|de)structors"
class $1
{
public:
    $1() = default;
    $1($1&& rhs) = default;
    $1(const $1& rhs) = default;
    ~$1() = default;
private:
};
endsnippet

snippet cout "C++ std::cout statement to print output"
std::cout << "$1" << std::endl;
endsnippet

snippet interface "C++ Interface"
class $1
{
public:
    virtual void Foo() = 0;
    virtual void Bar() = 0;
};
endsnippet
